<a href="https://colab.research.google.com/github/tsekatm/ProgrammingAssignment2/blob/master/%5Bpython_practice_Notebook%5D_AfterWork_Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# [Practice Notebook] AfterWork: Introduction to Python Programming

# 1. Variables, Printing and Comments

## 1. Variables

**Variable** are containers that we use to store data for further use or manipulation.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [2]:
# Example 1
# ---
# Running this cell won't output anything because we have not asked python to do that.
# However, it will run anything that is not a comment. In our case, running this cell will
# execute the last line of our cell where we assign the value 10 to the variable a.
# A few rules about variables is that they must begin with a letter, underscore,
# or non-number character. They must also not have spaces in between.
# We use the equals sign, =, which is called an assignment operator to perform the assignment operation.
# In programming languages, creating a variable is known as declaring a variable.
# ---
# OUR CODE GOES BELOW
#
a = 10
print(a)

10

##### <font color="blue">Example 2</font>

In [3]:
# Example 2
# ---
# In the previous example, we used the value 10 which is an integer.
# Let's now see how we store text. In Python we use the word string to refer to a piece of text.
# We'll assign the string Earth to the variable planet by enclosing the value in quotes "".
# The quotes can be double "" or single ''.
# Again, running this cell won't output anything, it will only run our code.
# ---
# OUR CODE GOES BELOW
#
planet = "Earth"
print("Earth")

Earth

##### <font color="blue">Example 3</font>

In [4]:
# Example 3
# ---
# In example 1 and 2, we assigned values of different nature i.e. an integer 10 and a string "Earth".
# We will now learn how to assign values of different nature to a variable i.e. lists, dictionaries, etc.
# Don't worry so much about what lists and dictionaries are. We'll learn about the soon.
# This is a list: ["This list has number element", 4]
# We store it just like we did the other values in the previous section.
# ---
# OUR CODE GOES BELOW
#

four = ["This list has number element", 4]
print(four)

['This list has number element', 4]

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [5]:
# Challenge 1
# ---
# Question: Create a variable named account then assign it with the string 10,000.
# Just note this is not the answer: account = 10,000 or this account = 10000
# Hint: Learn from example 2.
# ---
# YOUR CODE GOES BELOW
account = "10000"
print(account)

10000

##### <font color="green">Challenge 2</font>

In [6]:
# Challenge 2
# ---
# Question: Assign the name J.K Rowling to the variable author.
# ---
# YOUR CODE GOES BELOW
author = "J.K Rowling"
print(author)

J.K Rowling

## 2. Printing

The **print()** function prints something on the screen. We'll use this function to reveal what is stored in a variable.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [7]:
# Example 1
# ---
# Question: Print the text "Hello!" in the output console of this cell.
# ---
# The print function can take in a string as an argument and print in it out
# in the console. Let's run this cell to see this in action.
# ----
# OUR CODE GOES BELOW
#
print("Hello!")

Hello!

##### <font color="blue">Example 2</font>

In [8]:
# Example 3
# ---
# Question: Print out the following set named colors = {'red', 'green', 'blue'},
# in the output console below
# ---
# We can also print out what's stored in a variable by simply writing the variable
# in a new line and the running the code as shown. Notice we don't use the print function.
# ---
# OUR CODE GOES BELOW
#
colors = {'red', 'green', 'blue'}
colors

{'blue', 'green', 'red'}

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [9]:
# Challenge 1
# ---
# Question: Using the print function print out this statement: "I am excited to learn Data Science"
# ---
# YOUR CODE GOES BELOW
#
print("I am excited to learn Data Science")

I am excited to learn Data Science

##### <font color="green">Challenge 2</font>

In [10]:
# Challenge 2
# ---
# Question: Print out the variable four you declared earlier without using the print function.
# ---
# YOUR CODE GOES BELOW
#
four

['This list has number element', 4]

## 3. Comments

**Comments** are simple notes used in our code to provide explanatory information
about the code. Used to explain complex code.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1:</font> Single Line Comments

There are two lines in the code cell below. The first line is a comment because it contains a # character infront of the text. This line won't run whenever the code is executed. The 2nd line will run because it will be treated as code. Let's run this cell.

In [ ]:
# Assiging 56 to score
score = 56

##### <font color="blue">Example 2:</font> Multiple Line Comments - Method 1

In the code cell below, we create a multiline comment by encosing multiple lines using the delimiter characters: **```**

In [ ]:
'''
This is a multiline comment.
We use the delimiter characters to indicate that
the following multi-line content are comments.
'''
score = 53

##### <font color="blue">Example 3:</font> Multiple Line Comments - Method 2

Alternatively, if we want to create multiple line comments, we can use multiple # charaters across the lines we want to treat as comments.

In [ ]:
# ---
# This is a multi-line comment.
# We can also use multiple hash characters to comment on
# a block of content just as shown in this example.
# We will be using this method of commenting to
# provide more information about the exercises
# and challenges within this course.
# ---
#
score = 53

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1:</font> Explain the following code below using a single line comment. The comment can be anything you want.

In [ ]:
#this code declares the variable home_planet
home_planet = "Earth"

##### <font color="green">Challenge 2:</font> Explain the following code using multiple line comments (using delimiters). The comments can be anything you want.

In [11]:
'''the variable lap is declared as 400
you have to use the correct syntax'''
lap = 400

# 2. Arithmetic Operators

**Arithmetic operators** are mathematical symbols that take two values and
perform a calculation on them.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [12]:
# Example 1
# ---
# We will now go through arithmetic operators. Here in this example,
# we will perform an addition operation using the + operator.
# If you want, you can experiment by using the subtraction operator
# and then observing the change in the console.
# ---
#

# Declare our variables
a = 40
b = 10

# Addition
c = a + b

# Printing out our results
print(c)

50

##### <font color="blue">Example 2

In [13]:
# Example 2
# ---
# We can also perform a division operation as shown
# ---
#
d = a / b

# Printing out our result
# ---
#
print(d)

4.0

##### <font color="blue">Example 3

In [14]:
# Example 3
# ---
# We can also use the increment operator to perform a = a + b. This is a common operator
# while writing python programs.
# Once you've ran this cell once, you can change the operator to the
# decrement operator -= and see what happens.
# ---
#

# Declaring our variables
# ---
#
a = 40
b = 10

# Using the increment operator
# ---
#
a += b             # This equates to a = a + b

# Printing out our result
# ---
#
print(a)

50

##### <font color="blue">Example 4</font>

In [16]:
# Example 4
# ---
# We can also use the exponentiation operator ** to raise the number
# to its left to the power of the number to its right. For example, 3**2 = 9.
# ---
# Another operator we can use is the modulus operator % which returns
# the remainder of the division between number on the left by the on the right.
# For Example, 5 % 2 = 1
# ---
#

# Uncomment the following lines of code and see what happens
# ---
#
print(15 % 7)
print(5 ** 2)

1
25

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [18]:
# Challenge 1
# ---
# Question: Subtract b from a using the above declared variables and print out the result
# ---
# YOUR CODE GOES BELOW
#
z = a-b
print(z)

40

##### <font color="green">Challenge 2</font>

In [20]:
# Challenge 2
# ---
# Question: Multiply a and b variables and print out the result
# ---
# YOUR CODE GOES HERE
x = a*b
print(x)

500

# 3. Data Types

A **data type** is a classification that allows specifying which type of value
a variable contains. It defines the operations that can be done on the data and how the data can be stored.

- **Integer** value is a positive or negative whole number i.e. -1 or 4.
- **String** value is a sequence of characters. Strings are contained in either single or double quotes i.e. "Jane" or 'Janet'.
- **Float** value is a real number with floating-point representation i.e. 10.5 or 55.69

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Let's see how we can determine a datatype using the type function.
# In the examples below, we will create a variable, pass it to the type function
# and then pass that to the print function so that we can see the outcome.
# ---
# NB: We will redeclare x / reassign the variable x with new values.

# Integer data type
# ---
# Integer value is a positive or negative whole number.
# ---
#
x = 50
print(type(x))

# String data type
# ---
# String value is a sequence of characters. Strings are contained in either single or double quotes.
# ---
#
x = '30'
print(type(x))

# Float data type
# ---
# Float value is a real number with floating-point representation.
# ---
#
x = 90.0
print(type(x))

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# To add a string and an integer, we need to convert the string into an integer
# using the int function, otherwise we will get an error.
# ---
# Let's see how we can do that.
# ---
# Note that in this case, this will only work for an integer that is enclosed quotes.
# A string like 'Four' won't work.
# ---
#
x = 40
y = '4'

z = x + int(y)

print(z)

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# If we add an integer with a float, the outcome will always be a float.
# ---
#
x = 20
print(type(x))

x += 5.0           # x = x + 5.0
print(x)

print(type(x))

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# If we divide integers the outcome will be a float
# ---
#
a = 40
b = 5

print(a/b)
print(b/a)

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# We can also use the float function to convert an integer/string
# into a float as shown.
# ---
#
print(b/float('5'))

##### <font color="blue">Example 6

In [ ]:
# Examaple 6
# ---
# If we want to combine two strings, we can use the + operator as shown.
# ---
# NB: Combining two strings in python is referred to as concatenation.
# ---
#
a = 'John '
b = 'Doe'

print(a + b)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Print out any variable that comes to mind with the string data type.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Run and correct the following code.
# ---
# Hint: Read the error generated and modify the code accordingly
#
w = 10 + '60'

print(w)

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Perform integer division of 199 and 3 with the result being an integer.
# Print out the result.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Print out the data type of the given variable x.
# ---
# YOUR CODE GOES BELOW
#

# 4. Lists

A **list** is a compound data type that allows for the storage of items of different data types. We use lists to store a set of related data.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Question: Create a list named fish and store it with values of different types of fish
# ---
#

# Defining our list
fish = ["salmon", "star fish", "tilapia", "sword fish"]

# Printing our result
fish

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Question: Add elements to a list
# ---
#

# Adding the fish "gold fish" to our fish list using the append method.
# ---
#
fish.append("gold fish")

# Printing our result
# ---
#
print(fish)

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Question: Updating an element in a list.
# ---
# We use the list name and the position.
# ---
#
fish[2] = "nile tipalia"

# Printing our result
# ---
#
print(fish)

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Question: Remove an element from a list using the remove method
# ---
#
fish.remove("gold fish")

# Printing our result
# ---
#
print(fish)

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Question: Slice the restaurant list to fetch specific elements in a list
# ---
#

# Getting the first element in the list as shown
# ---
#
print(fish[0])

# Getting the first two elements in the list as shown
# ---
#
print(fish[0:2])

# Getting the last one element in the list as shown
# ---
#
print(fish[-1:])

# Getting items from 2nd position to the end in the list as shown
# ---
#
print(fish[2:])

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Create a list containing any 5 fruits of your choice.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Add the fruit guava to your list.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Update the fruit in the third and fourth position in the list
# with "red orange", "yellow orange"
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Print out the last two fruits in your list.
# ---
# YOUR CODE GOES BELOW
#

# 5. Conditional (If) Statements

**Conditional if** statements are used for decision making. They will run code if only when if the statement is true. In general, we use conditional (if) statements to execute a certain part of code if a condition is satisfied.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Question: How do we use the If keyword?
# ---
# In python, we use if statements to determine whether a certain condition is true
# and then execute some code if it is true.
# ---
# To create an if statement, we use the if keyword, followed by an
# expression/condition i.e. q < p and then a colon :
# The code to be executed when the expression is true is the contained in the next line
# and identified using a indent i.e. print("q is less than p")
# ---
#

# We first declare our variables
p = 500
q = 100

# Here's an example of an if statement
if q < p:
  print("q is less than p")

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Question: How can we use the Elif keyword? and also perform nesting/contain if
# statements inside if statements?
# ---
# If we want to evaluate multiple expressions we can use elif keyword as shown.
# Here, we add the expression r == s to evaluate whether r and s are equal.
# ---
# We can also add if statements inside other if statements as shown below.
# Adding such is referred to as nesting.
# ---
#

r = 100
s = 100

p = 500
q = 100

if s < r:
  if q < p:
    print("y is less than x")
elif r == s:
  print("r and s are equal")

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Question: How can we use the Else keyword?
# ---
# The else keyword is used to execute some code if all the
# defined expressions evaluate to false.
# ---
#

# Declaring our variables
a = 150
b = 50

# Then using our else keyword
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Question: How can we use the And keyword?
# ---
# If we want to execute some code only if both expressions turns out to be true,
# we use the "and" keyword.
# ---

# Declaring our variables
name = "Mary"
age  = 30

# Using the And keyword
if name == "Mary" and age == 30:
  print("My name is Mary, and I am 30 years old.")

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# How can we use the Or keyword?
# ---
# If we want to execute some code only if atleast one expression turns out to be
# true, then we can use the "or" keyword.
# ---
#

a = 100
b = 101
c = 99

if a > b or a > c:
  print("At least one of the conditions is True")

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Declare two variables t and s then, find out whether t is less than s.
# You can use the values of t and s to be 7 and 8 respectively.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Create an if statement that determines whether a number given
# by a user is greater than 10 and less than 30.
# The number given can be in the form of a variable.
# ---
# Hint: Use the and keyword
# ---
# YOUR CODE GOES BELOW
#

# 6. Dictionaries

A **dictionary** is a data type that is used to store key-value pairs. It
enables us to retrieve, add, remove, modify values using keys. Use case: When training a machine learning model we can store features and labels in dictionaries.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Let's see how we can create a dictionary named vehicle and store 3 keys with their respective values.
# ---
#
vehicle =	{
  'brand': 'Toyota',
  'model': 'Subaru',
  'year': 2019
}
print(vehicle)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Adding a key value pair to a dictionary
# ---
#

# Adding an element to your dictionary
vehicle['engine'] = '1800cc'

# Printing out our updated dictionary
print(vehicle)

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Updating a key value pair in a dictionary
# ---
#

# Updating an element to our dictionary
vehicle['engine'] = '2400cc'

# Printing out our updated dictionary
print(vehicle)

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Accessing an element from a dictionary
# ---
#

# Printing our vehicle's model
#
print(vehicle["model"])

# or we could use
print(vehicle.get("model"))

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Removing an element from a dictionary
# ---
#

# Removing model from the dictionary
vehicle_without_model = vehicle.pop("model")
vehicle

##### <font color="blue">Example 6

In [ ]:
# Example 6
# ---
# Question: Checking if an element exists in a dictionary
# ---
#

if "brand" in vehicle:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Create a dictionary named accountants then populate it with
# any values for the keys; name, certification, company
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Add the element institution with value 'Pearson' to the
# accountants dictionary
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Update the element name with value Jane in the accountants dictionary
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Access the value of the certification key in the dictionary above
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 5</font>

In [ ]:
# Challenge 5
# ---
# Question: Check whether country is a key in the accountants dictionary
# ---
# YOUR CODE GOES BELOW
#

# 7. For Loops

A **for loop** is a control flow statement that allows code to be executed repeatedly. The are used to iterate over a sequence i.e. list, dictionary, string,
etc. They can also be used to repeat a specific block of code a known number of times.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Question: Loop/iterate through the string "Karura Karura"
# ---
# We can use a for loop to iterate through a collection i.e. a string, a list, a dictionary
# and later perform an operation on the individual elements.
# ---
# To use a for loop, we use the "for" keyword, then define a variable that will hold current
# value of a collection, then define the collection after the "in" keyword. We then finish a colon.
# Inside the for loop, where we can the body, we can access the current element of our collection using the
# variable we defined.
# ---
# NB: We use for loops whenever we want to iterate through all the items in the collection.
# ---
#

a = "Karuna Karuna"
for y in a:
  print(y)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# We can also use a break statement to stop the loop in its iteration as shown
# ---
#

# Let's print out the restaurants list that we had created earlier on
restaurants = ["cj's", "Java", "Nyama Mama", "Italian", "Viridian", "Khosa"]

# Looping and using a break statement
for x in restaurants:
  print(x)
  if x == "Viridian":
    break

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# We can also use a continue statement to stop the current iteration of the loop
# and continue to the next interation without executing the rest of the body.
# ---
#

# Creating a list
mobile_phone = ["iphone 4", "iphone 5", "iphone 6", "iphone 7", "iphone 8", "iphone x", "iphone xs"]

# Using a for loop
for x in mobile_phone:
    if x == 'iphone 6' or x == 'iphone 8':
         continue
    print('Checked Phone :', x)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Iterate through the string "I am a citizen of the World"
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# Make changes to the code below to omit the Yohana and Mariga
# while displaying the items in the footballers list.
#

# Creating our list
# ---
#
footballers = ["Oliech", "Kahata", "Yohana", "Matasi", "Mariga", "Wanyama"]

# Iterating over our list
# ---
#

# 8. Sets

A **set** is an unordered collection of elements with no duplicate elements. Set elements can be of any data type but cannot have mutable elements like lists, sets, or dictionaries.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Method 1: Creating a set
# ---
#
colors = {"red", "green", "white", "orange"}

# Print the set
# ---
#
print(colors)

In [ ]:
# Method 2: Use the `set()` function
# ---
#
colors = set(("red", "green", "white", "orange"))

# print the set
# ---
#
print(colors)

In [ ]:
# creating a set with heterogenous elements
# ---
#
colors = {"red", 2, True, 40, "white"}

# print the set
# ---
#
print(colors)

##### <font color="blue">Example 2

In [ ]:
# Determine the `type()`
# ---
#
print(type(colors))

##### <font color="blue">Example 3

In [ ]:
# Loop through a set using a `for loop`
# ---
#
for x in colors:
  print(x)

##### <font color="blue">Example 4

In [ ]:
# Adding a new element to a set
# ---
#

# printing out the set
print(colors)

# adding a new element
colors.add("black")

# print the set
# ---
#
print(colors)

##### <font color="blue">Example 5

In [ ]:
# Removing an element
# ---
#
colors.remove("white")

# print the set
# ---
#
print(colors)

##### <font color="blue">Example 6

In [ ]:
# Check if element is present in a set
# ---

# print the set
# ---
#
print("green" in colors)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Create a `categories` set with the following values `sports`,
# `outdoor recreation`, `cycling`, `camping and hiking`, `fishing`,
# `hustling and fishing` and `fitness`
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Check for the type of the `categories` set
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Loop through the `categories` set printing out each element
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Add the `cycling` element to the `categories` set and try to understand
# why there was/wasn't a change in the set.
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 5</font>

In [ ]:
# Challenge 5
# ---
# Question: Add a `football` element to the set
# ---
# YOUR CODE GOES BELOW
#

##### <font color="green">Challenge 6</font>

In [ ]:
# Challenge 6
# ---
# Question: Remove the `football` element from the set and check whether it exists in the new set.
# ---
# YOUR CODE GOES BELOW
#

# 9. While Loops

A **while loop** executes a set of statements as long as a condition is
true.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Just like a for loop, we can iterate over a list using the while loop.
# The only difference is that the iteraction only happens when a certain
# condition is true.
# ---
# YOUR CODE GOES BELOW
#

# First defining our list
teachers = ['John', 'Ruth', 'Naomi', 'Esther', 'Liz', 'Stephen', 'Lona', 'Susan', 'Ian']

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers)

# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:

  # print out the element in the list as per the index
  print(teachers[i])

  # incrementing our i by 1
  i += 1

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Question: We can use a break statement to break out of the loop completely.
# ---
# YOUR CODE GOES BELOW
#

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers)

# defining our word variable
word = "Emma"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:

  # print out the element in the list as per the index
  if word == teachers[i]:

      print("Find the element at position:",i)

      break

  # incrementing our i by 1
  i += 1

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Using the continue statement forces the next iteration of the loop to take place
# ---
# YOUR CODE GOES BELOW
#

# Our while loop will start counting from 0,
i = 0

# determining the no. of elements in our teachers list
no_of_teachers = len(teachers)

# defining our word variable
word = "Emma"


# Performing our iteration, starting from 0 until i is not less than the no_of_teachers
while i < no_of_teachers:

    print("Checking element:", i)

    if word != teachers[i]:

        i = i + 1

        continue

    print("Find the element at ", i)

    # stop the loop
    i = no_of_teachers

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Iterate through the following list and stop at 8
# ---
# YOUR CODE GOES BELOW
#

a = [1, 2, 4, 12, 1, 2, 3, (5, 6), ['Hello', 'From', 'The'], 8, 'Other', 'Side']

# 10. Functions

A **function** is a block of organized, reusable code. We use functions to bundle a set of instructions that you want to use repeatedly.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Let's first see some types of functions called built-in functions.
# ---
# NB: print() is a built in function.
# max() is also another built in function.
# ---
# Instead of writing lots of code to perform printing and finding maximum tasks, Python already
# has that code and we can access those sets of code using the print() and max() functions.
# ---
# YOUR CODE GOES BELOW
#

# The max() function will return the item with the highest value as shown
# in the given list
a = [23, 22, 55, 23, 44]
x = max(a)
print(x)

# Using the max() function, we can return the item with the highest value alphabetically
y = max(["Susan", "Grace", "Simon"])
print(y)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# We can also define our own functions and store reusable code. Later use that
# function whenever we want by calling that function.
# ---
# As an example, let's create a function to find out which of two numbers is greater than the other
# ---
# YOUR CODE GOES BELOW
#

# we define it by giving it the name max_of_two
def max_of_two():

  # we then define our variables that will contain the numbers to be manipulated
  first_number  = 10
  second_number = 5

  # then we perform our operations i.e. in this case,
  # if first_number is greater than second_number etc.
  if first_number > second_number:

      # the return keyword allows us to provide back the result/output of our function
    return first_number

    # the return key word allows us to provide back the result/output of our function
  return second_number

# Lastly, we do the most important step; which is to call the function that
# we have just created above. Calling allows us to use the function.
# We have also been calling our built-in functions from the previous section.
#
max_of_two()

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Let's see another use case.
# ---
# We'll write a function called average_of_two_numbers that
# finds the average of two numbers.
# ---
# YOUR CODE GOES BELOW
#

def average_of_two_numbers(x, y):
  average_of_two_numbers = (x + y)/2
  return print(average_of_two_numbers)

average_of_two_numbers(4, 5)

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Determine the lowest value in the given array using an inbuilt function
# ---
# YOUR CODE GOES BELOW
#

# Create a list x
# ---
#
x = [23, 22, 55, 23, 44]

##### <font color="green">Challenge 2</font>

In [ ]:
# Challenge
# ---
# Question: Write a function to tell us whether a variable covid_count is between 3000 and 10000
# ---
# YOUR CODE GOES BELOW
#

# Declaring our variable covid_count
# ---
#
covid_count = 4500

# Your function goes here

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# 11. Classes and Objects

We can also use classes and objects to organize our code.

* A **class** is a user-defined blueprint that performs a set of related tasks.
* Classes contain variables and methods which can be accessed and used by creating an instance of that class (i.e., an object).
* Attributes are the variables that belong to a class. Methods are functions defined as part of a class.
* The `__init__()` function is used to perform operations when creating an object, i.e., assign values to object properties, which are the mentioned attributes.
* A `self` parameter refers to the current instance of the class and is used to access variables that belong to the class.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example
# ---
# Let's create a class named House and define the init function and the getHouseDetails() method inside.
# ---
#
class House:
  def __init__(self):
    self.bathrooms = 2
    self.bedrooms = 3

  def getHouseDetails(self):
    print("The house has " + str(self.bathrooms) + " and " + str(self.bedrooms) + " bedrooms.")

In [ ]:
# Lastly, inorder to use that class, we need to instantiate it.
# You can think of instantiating more like making a copy of it.
# In this case we instantiate the class by creating an object, current_house.
# ---
#

# Instantiating the class House
# ---
#
current_house = House()

# Calling the Class's House method in order to use it.
# ---
#
current_house.getHouseDetails()

#### <font color="green">Challenges</font>

##### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1
# ---
# Question: Create a `Supermarket` class that contains the attributes `staff` and `floors`
# with values `50` and `4` respectively. The class also contains a method `getSupermarketDetails`
# that prints out the statement `The supermarket has ... staff and ... bedrooms`.
# ---
# YOUR CODE GOES BELOW
#